body{
    font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
  color: white;
  
}

.container{
    background-color:  rgb(10, 33, 60);
    border-radius: 10px;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.form-row .col{
    flex: 1;
}

.form-group{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 8px;
    /* border: 1px solid red; */
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;

}

textarea{
    width: 100%;
    padding: 10px;
    margin: 8px;
    /* border: 1px solid red; */
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 5px solid rgb(10, 33, 60);
    margin: 8px;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
   
}

button:hover{
    background-color: red;
    color: white;
    transition: all 0.8s ease-in;     
}
