html{
    scroll-behavior: smooth;
}


.Part{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #154bbf;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Pro{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 40px;
}



.block-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.Block-1,
.Block-2,
.Block-3,
.Block-4,
.Block-5 {
  display: flex;
  gap: 15px;
  background: #154bbf;
  background: linear-gradient(0deg,rgba(21, 75, 191, 1) 0%, rgba(0, 94, 255, 1) 100%);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align:left;
  font-size: 25px;
  font-weight: 500;
   text-align: justify;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for a “lift” animation */
.Block-1:hover,
.Block-2:hover,
.Block-3:hover,
 .Block-4:hover,
 .Block-5:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

/* Headings and text */
.block-group h1 {
  color: white;
  margin-bottom: 10px;
}
.block-group h2 {
  text-align: center;
  font-size: 40px;
  color:  #154bbf;
  margin-bottom: 10px;
}

.block-group a {
  text-align: center;
  font-size: 25px;
  color: white;
  background: #154bbf;
  background: linear-gradient(0deg,rgba(21, 75, 191, 1) 0%, rgba(0, 94, 255, 1) 100%);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

.block-group p {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;

}

.block-group button:hover {
  background-color: #0037a3;
}

.Selection-Containers{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0037a3;
  padding: 40px;
}

.s-block-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.s-Block-1,
.s-Block-2,
.s-Block-3,
.s-Block-4{
 
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-size: 7vw;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.s-block-group h1 {
  
  font-size: clamp(18px, 2vw, 24px);
  color: red;
  margin-bottom: 10px;
}
.s-block-group h2 {
  text-align: center;
  font-size: 40px;
  color: #154bbf;
  margin-bottom: 10px;
}

.s-block-group p {
  font-size: 16px;
  color: #154bbf;
  margin-bottom: 20px;
}

.s-block-group li{
   font-size: 16px;
   color: #154bbf;
   margin-bottom: 20px;
}